<div
  class="
    inline-block
    bg-gray-800
  "
  data-model="book-cover-image"
  style="
    width: <%= width %>px;
    height: <%= height %>px;
    <%= cover_url && "background-image: url(#{cover_url});" %>
    background-size: cover;
    background-position: center center;
  "
>
</div>
